<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.payroll.utility.TestNGListener" />
	</listeners>


	<test thread-count="5" name="Test">
		<classes>
			<class name="com.RegressionTestCases.UserLogOutTest" />
			<class name="com.RegressionTestCases.AddValidClientTest" />
			<class name="com.RegressionTestCases.VerifyUserLoginTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
